@use '../util';
.home{
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .home-left{
        width: 50%;
        height: 100%;
        background-color: red;
        .text{
            margin-top: 12%;
            .home-heading{
                font-family: util.$font-belleza;
                font-size: 5.5rem;
                font-weight: 500;
                color: util.$text;
            }
            .shop-now{
                margin-top: 6%;
                background-color: util.$text;
                width: 160px;
                height: 50px;
                border-radius: 25px;
                color: #ffffff;
                border: none;
                outline: none;
                opacity: 90%;
                font-size: 15px;
                font-family: util.$font-dm;
            }
        }
        .companies{
            margin-top: 11%;
            .beautiful{
                font-family: util.$font-dm;
                font-size: 20px;
                font-weight: 700;
            }
            .we{
                margin-top: 6%;
                opacity: 80%;
                font-family: util.$font-dm;
            }
            .forbes{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 380px;
                margin-top: 8%;
            }
        }
    }
    .home-right{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: end;
        background-color: yellow;
        .flower{
            width: 530px;
            height: 600px;
        }
    }
}

@media screen and (max-width: 1150px){
    .home{
        .home-left{
            .text{
                .home-heading{
                    font-size: 4rem;
                }
                .shop-now{
                    width: 120px;
                    height: 40px;
                    font-size: 13px;
                }
            
            }
            .companies{
                .beautiful{
                    font-size: 18px;
                }
                .we{
                    font-size: 14px;
                }
                .forbes{
                    width: 300px;
                    img{
                        width: 120px;
                        height: 30px;
                    }
                }
            }
            
        }    
    }
}