@use '../util';
.we-inner{
    .image{
        margin-top: 10rem;
        img{
            width: 100%;
        }
    }
    .everything{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        p{
            font-family: util.$font-belleza;
            font-size: 20px;
            font-weight: 600;
        }
        h4{
            font-family: util.$font-lora;
            font-size: 30px;
        }
    }
}
@media screen and (max-width: 735px){
    .everything{
        p{
            font-size: 15px;
        }
        h4{
            font-size: 25px;
        }
        span{
            img{
                width: 35px;
            }
        }
    }
}
@media screen and (max-width: 625px){
    .we-inner{
        .image{
            margin-top: 4rem;
        }
        .everything{
            p{
                font-size: 10px;
            }
            h4{
                font-size: 20px;
            }
            span{
                img{
                    width: 35px;
                }
            }
        }

    }
}
@media screen and (max-width: 450px){
    .we-inner{
        .everything{
            p{
                font-size: 8px;
            }
            h4{
                font-size: 15px;
            }
            span{
                img{
                    width: 25px;
                }
            }
        }

    }
}